/* 
    Document   : mainStyles
    Created on : 21-Nov-2014, 3:30:18 PM
    Author     : Michael
    Description:
        Purpose of the stylesheet follows.
*/





.container{
	background-color: #1234EF;
}